* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    position:relative;
    height: 45px;
    padding: 5px;
}
.nav{
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
img{
    display:inline;
}


.bill {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    grid-template-areas:
        "order payment"
        "total total";
    grid-template-columns: 1fr 1fr;
}
.box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 5px black;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}
.box-title {
    color: #885a2d;
    font-weight: normal;
    font-size: 16px;
    padding:10px;
}
.item {
    border-bottom: 2px solid #DDB892;
    display: grid;
    padding: 10px 0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "quantity title price"
        "quantity options price";
    row-gap: 7px;
}
.quantity{
    grid-area: quantity;
}
.title{
grid-area:title;
}
.quantity{
    grid-area:quantity;
}
.options{
    grid-area: options;
    color:#885a2d
}
.price{
    grid-area: price;
}
.options-list{
    color:#885a2d
}
li{
    text-align:left;
}
ul{
    padding: 0px;
}
.input-label {
    color: #885a2d;
    background-color: #eee1d5;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding:  2px;
}
.input{
    position:relative;
    margin-bottom:25px;
}
.input-bar{
    border:2px #885a2d solid;
    border-radius: 20px;
    background-color: #eee1d5;
    width: 100%;
    padding: 5px;
    
}
.short-input{
    width:50%;
}
.total{
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  .total-table{
    width:100%;
    max-width: 500px;
    text-align: center;
    padding-bottom: 30px;
  }
  .place-order{
    padding:10px;
    color: #885a2d;
    background-color: #eee1de;
    width: 100%;
    border-radius: 20px;
    border: none;
  }
  .total-amount{
    font-weight: bold;
  }
  table{
    border-spacing: 2px;
  }
  .total-table td{
    padding :10px;
  }
